{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to E-commerce</p>
                </div>
            </div>
        </header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/>
                <p allign="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Nunc sed augue lacus viverra vitae.
                    Scelerisque viverra mauris in aliquam sem fringilla.
                    Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Molestie a iaculis at erat pellentesque.
                    Quam viverra orci sagittis eu volutpat. Diam vel quam elementum pulvinar etiam non. Lorem ipsum dolor sit amet consectetur adipiscing elit.
                    Elementum integer enim neque volutpat ac tincidunt vitae semper. Rhoncus mattis rhoncus urna neque viverra justo.
                    Et ultrices neque ornare aenean euismod. Facilisis leo vel fringilla est ullamcorper.
                    Consequat nisl vel pretium lectus quam id leo in vitae. Suscipit tellus mauris a diam maecenas sed enim.
                    Laoreet id donec ultrices tincidunt arcu non sodales.
                    Mauris augue neque gravida in fermentum et.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}